<%- contentFor('css') %>
    <link href="/css/register.css" rel="stylesheet">
<%- contentFor('body') %>
<form class="form-signin" action="/register" method="POST"></form>
<img class="mb-4" src="/img/logo-guardianes.png" alt="" width="129" height="41" />
<h1 class="h3 mb-3 font-weight-normal">Por favor registrese</h1>
<label for="inputName" class="sr-only">Nombre</label>
<input type="text" name="name" id="inputName" class="form-control" placeholder="Nombre" required autofocus name="name" >
<label for="inputEmail" class="sr-only">Correo eléctronico</label>
<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Correo eléctronico" required autofocus name="email" >
<label for="inputPassword" class="sr-only">Contraseña</label>
<input type="password" name="password"  id="inputPassword" class="form-control" placeholder="Contraseña" required name="password" >
<label for="confirmPassword" class="sr-only"> Confirmar Contraseña</label>
<input type="password" name="confirmPassword"  id="confirmPassword" class="form-control" placeholder="Confirmar Contraseña" required name="confirmPassword" >
<button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
</form>